

:root {
    --primary: rgba(68, 88, 119, 1);
    
    
  }
/* Beginning of header styling */
.header nav{
    display: flex;
    
        /* padding: 15px; */
        margin: 20px;
        float: right;
        font-family: 'Garamond Sans';
        font-size: 20px;
    

}


.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.header {
    
    background-color: rgb(25, 25, 31);
    color: rgb(185,126,64);
    /* border-top-left-radius: 15%; */
    /* border-top-right-radius: 15%; */
    

}

a{
    color: rgb(184, 203, 219);

}

.header h1 {
    font-family: 'Garamond';
    display: inline-block;
    font-size: 60px;
    margin-left: 50px;
}

/* End of header styling */


/* Picture Styling */

.allenPic {
    /* max-width: 400px;  */
    /* height: auto; */
    margin-left: 20px;
  

}
/* End of Pic Styling */



/* Main Background color  */


/* Main Styling  */
.main{
    margin-top: 25px;
    height: 100%;
}

.section {
    
    display:flex;
    flex-direction: row;
    height: auto;
    
    
    
    
}
/* .section > h2 {
    flex: 0 0 20%;
} */

#About-Me{
    height: 300px;
}
.sectionHeader{
    
    border-right: 5px solid black;
    margin: 25px;
    padding:25px;
}

.rightBody {
    
  
  width:750px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.boxes{
    border: 5px solid var(--secondary);
    background-color: var(--primary);
    color: var(--tertiary);
    display: flex;
    align-items: flex-end;
    
    margin: 10px;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    width: 370px;
    height:100px;
    
    
}
.boxes:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }

.portfolio{
    background-image: url("../images/Portfolio.jpg");
    width: 750px;
}
.passgen{
    background-image: url("../images/Password.jpg");
}
.quiz {
    background-image: url("../images/Quiz.jpg");
}
.camp{
    background-image: url("../images/Camping.jpg");

}
.stock{
    background-image: url("../images/Stockpicker.jpg")
}

h2 {
    font-size:  36px;
    margin-left: 25px;
    font-family: 'Garamond';
    
    text-align: right;
    flex: 0 0 20%;
}